jmj/EproLibNET/EproLibNET/Web References/JMJIntegrationService/integrationservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PutJMJMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JMJMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutJMJMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Complete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="IPAddr">
        <s:complexType />
      </s:element>
      <s:element name="IPAddrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAddrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutJMJMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PutJMJMessage" />
  </wsdl:message>
  <wsdl:message name="PutJMJMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PutJMJMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapIn">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPAddrSoapIn">
    <wsdl:part name="parameters" element="tns:IPAddr" />
  </wsdl:message>
  <wsdl:message name="IPAddrSoapOut">
    <wsdl:part name="parameters" element="tns:IPAddrResponse" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegrationServiceSoap">
    <wsdl:operation name="PutJMJMessage">
      <wsdl:input message="tns:PutJMJMessageSoapIn" />
      <wsdl:output message="tns:PutJMJMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteSoapIn" />
      <wsdl:output message="tns:CompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <wsdl:input message="tns:IPAddrSoapIn" />
      <wsdl:output message="tns:IPAddrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataSoapIn" />
      <wsdl:output message="tns:SetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationServiceSoap" type="tns:IntegrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PutJMJMessage">
      <soap:operation soapAction="http://tempuri.org/PutJMJMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <soap:operation soapAction="http://tempuri.org/IPAddr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://tempuri.org/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="IntegrationServiceSoap" binding="tns:IntegrationServiceSoap">
      <soap:address location="http://www.jmjtech.com/integration/integrationservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>