jmj/EproLibNET/EproLibNET/Web References/com.jmjtech.www/IntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSystemHealthConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemHealthConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemHealthConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JMJMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageBag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddresseeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageBagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageBagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Complete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="IPAddr">
        <s:complexType />
      </s:element>
      <s:element name="IPAddrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAddrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSystemHealthConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemHealthConfig" />
  </wsdl:message>
  <wsdl:message name="GetSystemHealthConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemHealthConfigResponse" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PutMessage" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PutMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageBag" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageBagResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapIn">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPAddrSoapIn">
    <wsdl:part name="parameters" element="tns:IPAddr" />
  </wsdl:message>
  <wsdl:message name="IPAddrSoapOut">
    <wsdl:part name="parameters" element="tns:IPAddrResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemHealthConfigHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemHealthConfigHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpGetIn">
    <wsdl:part name="JMJMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagHttpGetIn">
    <wsdl:part name="AddresseeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CompleteHttpGetIn">
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="Status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CompleteHttpGetOut" />
  <wsdl:message name="IPAddrHttpGetIn" />
  <wsdl:message name="IPAddrHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemHealthConfigHttpPostIn">
    <wsdl:part name="CustomerID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemHealthConfigHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpPostIn">
    <wsdl:part name="JMJMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagHttpPostIn">
    <wsdl:part name="AddresseeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageBagHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CompleteHttpPostIn">
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="Status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CompleteHttpPostOut" />
  <wsdl:message name="IPAddrHttpPostIn" />
  <wsdl:message name="IPAddrHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="IntegrationServiceSoap">
    <wsdl:operation name="GetSystemHealthConfig">
      <wsdl:input message="tns:GetSystemHealthConfigSoapIn" />
      <wsdl:output message="tns:GetSystemHealthConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <wsdl:input message="tns:PutMessageSoapIn" />
      <wsdl:output message="tns:PutMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <wsdl:input message="tns:GetMessageBagSoapIn" />
      <wsdl:output message="tns:GetMessageBagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteSoapIn" />
      <wsdl:output message="tns:CompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <wsdl:input message="tns:IPAddrSoapIn" />
      <wsdl:output message="tns:IPAddrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IntegrationServiceHttpGet">
    <wsdl:operation name="GetSystemHealthConfig">
      <wsdl:input message="tns:GetSystemHealthConfigHttpGetIn" />
      <wsdl:output message="tns:GetSystemHealthConfigHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <wsdl:input message="tns:PutMessageHttpGetIn" />
      <wsdl:output message="tns:PutMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <wsdl:input message="tns:GetMessageBagHttpGetIn" />
      <wsdl:output message="tns:GetMessageBagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteHttpGetIn" />
      <wsdl:output message="tns:CompleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <wsdl:input message="tns:IPAddrHttpGetIn" />
      <wsdl:output message="tns:IPAddrHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IntegrationServiceHttpPost">
    <wsdl:operation name="GetSystemHealthConfig">
      <wsdl:input message="tns:GetSystemHealthConfigHttpPostIn" />
      <wsdl:output message="tns:GetSystemHealthConfigHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <wsdl:input message="tns:PutMessageHttpPostIn" />
      <wsdl:output message="tns:PutMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <wsdl:input message="tns:GetMessageBagHttpPostIn" />
      <wsdl:output message="tns:GetMessageBagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteHttpPostIn" />
      <wsdl:output message="tns:CompleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <wsdl:input message="tns:IPAddrHttpPostIn" />
      <wsdl:output message="tns:IPAddrHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationServiceSoap" type="tns:IntegrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetSystemHealthConfig">
      <soap:operation soapAction="http://tempuri.org/GetSystemHealthConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap:operation soapAction="http://tempuri.org/PutMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <soap:operation soapAction="http://tempuri.org/GetMessageBag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <soap:operation soapAction="http://tempuri.org/IPAddr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationServiceHttpGet" type="tns:IntegrationServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSystemHealthConfig">
      <http:operation location="/GetSystemHealthConfig" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <http:operation location="/PutMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <http:operation location="/GetMessageBag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <http:operation location="/Complete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <http:operation location="/IPAddr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationServiceHttpPost" type="tns:IntegrationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSystemHealthConfig">
      <http:operation location="/GetSystemHealthConfig" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <http:operation location="/PutMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageBag">
      <http:operation location="/GetMessageBag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <http:operation location="/Complete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IPAddr">
      <http:operation location="/IPAddr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="IntegrationServiceSoap" binding="tns:IntegrationServiceSoap">
      <soap:address location="https://www.jmjtech.com/IntegrationSecure/IntegrationService.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationServiceHttpGet" binding="tns:IntegrationServiceHttpGet">
      <http:address location="https://www.jmjtech.com/IntegrationSecure/IntegrationService.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationServiceHttpPost" binding="tns:IntegrationServiceHttpPost">
      <http:address location="https://www.jmjtech.com/IntegrationSecure/IntegrationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>